@use "../../variables.scss" as var;

.needs {
  background-color: #F6F6F6;
  padding: 50px;
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;

  .needs-row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
  }
}

.categories {
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;

  @include var.phone() {
    padding: 10px;
    text-align: center;
  }

  .categories-row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    min-height: 100px;
    justify-content: center;

    .category {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      margin: 20px;

      .category-img {
        width: 270px;
        height: 270px;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.petco {
  max-width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto;

  > * {
    padding: 20px;
  }

  .petco-content {
    max-width: 400px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px auto;

    @include var.phone() {
      text-align: center;
      max-width: 90%;
      align-items: center;
    }

    @include var.tablet() {
      text-align: center;
      max-width: 90%;
      align-items: center;
    }

    .button {
      margin-top: 10px;
    }
  }

  > img {
    margin: 10px auto;
    filter: drop-shadow(-30px 30px 0px var.$primary);

    @include var.phone() {
      width: 90%;
      filter: none;
    }

    @include var.tablet() {
      filter: none;
    }
  }
}

.best-sellers {
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
  padding: 50px;

  .best-sellers-row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    min-height: 100px;
    justify-content: center;
  }

  .best-seller {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

    .best-seller-rating {
      padding: 5px;
    }

    .best-seller-img {
      width: 270px;
      height: 270px;
      border-radius: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
    }

    a {
      text-decoration: none;
      color: inherit;

      h3 {
        margin: 0;
        padding: 5px;
      }
    }

    .best-seller-price {
      color: var.$primary;
      font-weight: 500;
    }
  }
}

.taste {
  background: url("../../assets/images/home/wave_bg.svg") no-repeat;
  background-size: cover;

  @include var.phone() {
    background-position: bottom right;
  }

  @include var.tablet() {
    background-position: bottom right;
  }

  .taste-container {
    display: flex;
    justify-content: flex-end;
    background: url("../../assets/images/home/cat.png") no-repeat top left;
    background-size: contain;

    @include var.phone() {
      justify-content: center;
      background-position: bottom center;
    }

    @include var.tablet() {
      background-size: 50%;
      background-position: bottom left;
    }

    .taste-content {
      display: flex;
      flex-flow: column wrap;
      max-width: 30%;
      align-items: flex-start;
      justify-content: flex-end;
      padding: 100px 0;
      margin-right: 10%;

      @include var.tablet() {
        max-width: 40%;
      }

      @include var.phone() {
        max-width: 100%;
        align-items: center;
        text-align: center;
        margin: 20px;
        padding-bottom: 270px;
      }

      .button {
        margin-top: 20px;
      }
    }
  }
}