@use "../../variables" as var;

.icon-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 200px;
  margin: 20px 0;

  .icon {
    padding: 10px;
    font-size: 4rem;
    border-radius: 10px;
  }

  h3 {
    color: var.$primary;
    margin: 10px auto;
  }
}