@use "../../variables" as var;

.navbar {
  width: 60%;
  min-height: 150px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @include var.phone() {
    width: 100%; // TODO
  }

  @include var.tablet() {
    width: 90%;
  }

  a {
    color: inherit;
    text-decoration: none;

    &.active {
      color: var.$primary;
      font-weight: bolder;
    }
  }

  .logo-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;

    > img {
      margin-bottom: 5px;
    }
  }
}