@use "../../variables" as var;

.promo-banner {
  display: flex;
  min-height: 50px;
  background: var.$primary;
  color: var.$primary_rev;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}