@use "./variables" as var;
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500&display=swap');

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.primary {
  color: var.$primary;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.loader {
  margin: 40px auto;

  span {
    background: var.$primary !important;
  }
}