@use "../../variables" as var;

.banner {
  max-height: calc(100vh - 200px);
  //background-repeat: no-repeat;
  //background-position: bottom right;
  //background-size: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .banner-content {
    .banner-title {
      font-size: 4rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  > img {
    max-width: 55%;
    flex: 2;
  }
}
