@use "../../variables" as var;

.banner {
  min-height: 550px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  display: flex;
  align-items: center;
  padding-left: 10%;

  @include var.phone() {
    text-align: center;
    padding: 0 10px 180px;
  }

  @include var.tablet() {
    background-size: 50%;
  }

  .banner-content {
    max-width: 450px;
    display: flex;
    flex-flow: column;
    gap: 15px;

    .banner-title {
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;

      @include var.phone() {
        font-size: 2rem;
      }
    }

    .banner-description {
      font-size: 1.5rem;
      margin-bottom: 0;
    }

    .banner-buttons {
      display: flex;
      flex-wrap: wrap;

      @include var.phone() {
        justify-content: center;
      }

      > a {
        margin-bottom: 10px;
        margin-right: 10px;
      }
    }
  }
}
